<html dir="rtl">
	<head>
		<title>  הדיבר </title>
		<link rel="stylesheet" type="text/css" href="/static/stav.css">
		<meta charset="utf-8"> </meta>
		<script src="/static/jquery.min.js"></script>
		<script src="/static/script.js"></script>
	</head>
	<body>

	<h1> {{diber}} </h1>

	</body>
</html>

