.des {
	color:red;
	font-family: "david";
}

body {
	background-color: #26DAB6;
}

#mainh {
	font-size: 250%;
}

li.ls1 {
	text-align: center;
	border-radius: 3px;
	background-color: green;
	text-decoration: blink;
	border: 2px solid yellow;
	width:10%;
}

img.reg {
	width: 300px;
	float: left;
	border: 3px solid black;
}
#gremlin {
	border-radius: 20px;
	background-color: teal;
}


img.tab {
	width: 250px;
	border: 3px solid pink;
}

p {
	font-weight: bolder;
	font-size: 150%;

}

li {
	color: white;
	font-weight: bolder;
}